<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <p>This is Admin\Index. Only people with role_admin can see this.</p>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <<!-- всички компании - към страници за справки-->>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="#" th:href="@{~/companies.html}">All Companies</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="#" th:href="@{~/companies-add.html}">Add Companies</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" href="#" th:href="@{~/companies-edit.html}">Edit Companies</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>