<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
	<link th:href="@{/css/customers.css}" rel="stylesheet" />
	<link th:href="@{/css/customers-add.css}" rel="stylesheet" />
	<link th:href="@{/css/customers-edit.css}" rel="stylesheet" />
	<title>Logistic customer app</title>
</head>

<body>
<div class="row">
	<div class="navbar expanded">
		<a class="col-1" href="./">
			<img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo" />
		</a>
		<a href="./parcels">Parcel</a>
		<a href="./reports">Reports</a>
		<a href="./customerForms/add">Ask questions</a>
		<a href="./register">Register</a>
		<a href="./login">LogIn</a>
	</div>

	<div class="textContainerN"></div>

	<div class="textContainerN col-12">
		<h1 class="h1">Edit a company</h1>
	</div>

	<div class="textContainerN">
		<div class="formContainer1" id="left">
			<div>Name:</div>
			<div>Address:</div>
		</div>
		<div class="formContainer3" id="right">
			<form action="#" th:action="@{/comapnies/edit/{id}(id=${company.id})}" th:object="${company}" th:method="post">
				<div class="formContainer4"><input type="text" th:field="*{name}" /></div>
				<div class="formContainer4"><input type="text" th:field="*{address}" /></div>
				<div><input type="submit" value="Submit" /></div>
			</form>
		</div>

	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>