<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Logistic customer app</title>
</head>

<body>
	<h1>Customers</h1>
	<br />

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Address</th>
				<th>User name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${customers.empty}">
				<td colspan="2">No customers available</td>
			</tr>
			<tr th:each="customer : ${customers}">
				<td><span th:text="${customer.id}"> </span></td>
				<td><span th:text="${customer.user.firstName}"> </span></td>
				<td><span th:text="${customer.user.lastName}"> </span></td>
				<td><span th:text="${customer.address}"> </span></td>
				<td><span th:text="${customer.user.email}"> </span></td>
				<td><a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a></td>
				<td><a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>