<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link th:href="@{/css/customers.css}" rel="stylesheet" />
    <link th:href="@{/css/employees.css}" rel="stylesheet" />
    <link th:href="@{/css/customerForms.css}" rel="stylesheet" />
    <title>Logistic customer app</title>
</head>

<body>
<div class="row">
    <div class="navbar expanded">
        <a class="col-1" href="./">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo" />
        </a>
        <a href="./parcels">Parcel</a>
        <a href="./reports">Reports</a>
        <a href="./customerForms/add">Ask questions</a>
        <a href="./register">Register</a>
        <a href="./login">LogIn</a>
    </div>

    <div class="textContainerN"></div>

    <div class="textContainerN col-12">
        <h1 class="h1">Unanswered questions</h1>
    </div>

    <div class="textContainerN3">
        <div class="catalogMiniContainerM5" id="first">ID</div>
        <div class="catalogMiniContainerM5" id="second">First name</div>
        <div class="catalogMiniContainerM5" id="third">Last name</div>
        <div class="catalogMiniContainerM5" id="fourth">Email</div>
        <div class="catalogMiniContainerM5" id="fifth">Phone number</div>
        <div class="catalogMiniContainerM5" id="fifteen">Content</div>
        <div class="catalogMiniContainerM5" id="eighteen">Answers</div>
        <div class="catalogMiniContainerM5" id="sixth">Answer</div>
        <div class="catalogMiniContainerM5" id="seventh">Delete</div>
    </div>

    <div class="textContainerN2">
        <div th:if="${unansweredForms.isEmpty()}">No customers available</div>
        <div th:each="unanswerdForm : ${unansweredForms}">
            <div th:text="${unanswerdForm.getId()}" class="catalogMiniContainer5" id="eight"> </div>
            <div th:text="${unanswerdForm.getCFirstName()}" class="catalogMiniContainer5" id="nine"> </div>
            <div th:text="${unanswerdForm.getCLastName()}" class="catalogMiniContainer5" id="tenth"> </div>
            <div th:text="${unanswerdForm.getCEmailAddress()}" class="catalogMiniContainer5" id="eleventh"> </div>
            <div th:text="${unanswerdForm.getCPhoneNumber()}" class="catalogMiniContainer5" id="twelve"> </div>
            <div th:text="${unanswerdForm.getContent()}" class="catalogMiniContainer6" id="sixteen"> </div>
            <div th:text="${unanswerdForm.getAnswer()}" class="catalogMiniContainer6" id="seventeenth"> </div>
            <a th:href="@{/customerForms/answer/{id}(id=${unanswerdForm.id})}" class="catalogMiniContainer5" id="thirteen">Answer</a>
            <a th:href="@{/customerForms/delete/{id}(id=${unanswerdForm.id})}" class="catalogMiniContainer5" id="fourteenth">Delete</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>