<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
	<link th:href="@{/css/customers.css}" rel="stylesheet" />
	<link th:href="@{/css/index.css}" rel="stylesheet" />

	<title>Logistic customer app</title>
</head>
<body>
<div class="row">
	<div class="navbar expanded">
		<a class="col-2" href="./">
			<img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo" />
		</a>
		<a class="active" href="./companies">Companies</a>
		<a href="./users">Users</a>
		<a href="./customers">Customers</a>
		<a href="./employees">Employees</a>
		<a href="./offices">Office</a>
		<a href="./parcel">Parcel</a>
		<a href="./reports">Reports</a>
		<a href="./operations">Operations</a>
	</div>

	<div class="textContainerN"></div>

	<div class="textContainerN col-12">
		<h1 class="h1">Logistic companies</h1>
	</div>
</div>

<div class="row">
	<div class="textContainerN">
		<!-- Slideshow container -->
		<div class="slideshow-container">

			<!-- Full-width images with number and caption text -->
			<div class="mySlides fade">
				<a href="./logIn">
					<img th:src="@{/images/first_slideshow.png}" alt="First slideshow">
				</a>
			</div>

			<div class="mySlides fade">
				<a href="./logIn">
					<img th:src="@{/images/second_slideshow.png}" alt="Second slideshow">
				</a>
			</div>

			<div class="mySlides fade">
				<a href="./form">
					<img th:src="@{/images/third_slideshow.png}" alt="Third slideshow">
				</a>
			</div>

			<!--    <a class="prev" onclick="plusSlides(-1)" >&#10094;</a>
                    <a class="next" onclick="plusSlides(1)" >&#10095;</a>
                        -->
		</div>
	</div>

</div>

<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:insert="fragments.html :: headerfiles"></head>-->
<!--<body>-->
<!--<header th:insert="fragments.html :: nav"></header>-->
<!--	<div class = "container">-->
<!--		<table>-->
<!--			<tr>-->
<!--				<td>Username</td>-->
<!--				<td><span sec:authentication="name"></span></td>-->
<!--			</tr>-->
<!--		</table>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->
