<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link th:href="@{/css/customers.css}" rel="stylesheet" />
    <link th:href="@{/css/customers-add.css}" rel="stylesheet" />
    <title>Logistic customer app</title>
</head>

<body>
<div class="row">
    <div class="navbar expanded">
        <a class="col-2" href="./">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo" />
        </a>
        <a class="active" href="./companies">Companies</a>
        <a href="./users">Users</a>
        <a href="./customers">Customers</a>
        <a href="./employees">Employees</a>
        <a href="./offices">Office</a>
        <a href="./parcel">Parcel</a>
        <a href="./reports">Reports</a>
        <a href="./operations">Operations</a>
    </div>

    <div class="textContainerN"></div>

    <div class="textContainerN col-12">
        <h1 class="h1">Operations</h1>
    </div>

    <div class="textContainerN">
        <div class="formContainer1" id="left">
            <div>Show Company:</div>
            <div>Add Company:</div>
            <div>Edit Company:</div>
            <div>Delete Company:</div>
            <div>Show User:</div>
            <div>Add User:</div>
            <div>Edit User:</div>
            <div>Delete User:</div>
            <div>Show Customer:</div>
            <div>Add Customer:</div>
            <div>Edit Customer:</div>
            <div>Delete Customer:</div>
            <div>Show Employee:</div>
            <div>Add Employee:</div>
            <div>Edit Employee:</div>
            <div>Delete Employee:</div>
            <div>Show Office:</div>
            <div>Add Office:</div>
            <div>Edit Office:</div>
            <div>Delete Office:</div>
            <div>Show Parcel:</div>
            <div>Add Parcel:</div>
            <div>Edit Parcel:</div>
            <div>Delete Parcel:</div>
        </div>
        <div class="formContainer2" id="right">
            <div><a href="./companies">Show report</a></div>
            <div><a href="./companies-add">Show report</a></div>
            <div><a href="./companies-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
            <div><a href="./users">Show report</a></div>
            <div><a href="./users-add">Show report</a></div>
            <div><a href="./users-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
            <div><a href="./customers">Show report</a></div>
            <div><a href="./customers-add">Show report</a></div>
            <div><a href="./customers-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
            <div><a href="./employees">Show report</a></div>
            <div><a href="./employees-add">Show report</a></div>
            <div><a href="./employees-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
            <div><a href="./offices">Show report</a></div>
            <div><a href="./offices-add">Show report</a></div>
            <div><a href="./offices-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
            <div><a href="./parcels">Show report</a></div>
            <div><a href="./parcels-add">Show report</a></div>
            <div><a href="./parcels-edit">Show report</a></div>
            <div><a href="">Show report</a></div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>